<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>사망신고서</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        th:first-child,
        th:last-child,
        td:first-child,
        td:last-child {
            border-right-width: 0;
            border-left-width: 0;
        }
    </style>
</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<div class="container">
    <h1 class="my-3 display-6">사망신고서</h1>
    <table class="table table-bordered border-dark-subtle align-middle">
        <thead class="text-center">
        <tr>
            <th colspan="6" class="bg-dark-subtle">
                사망신고서
                <br/>
                (신고일 : <span class="text-primary">2012</span>년
                <span class="text-primary">03</span>월
                <span class="text-primary">17</span>일)
            </th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr>
            <th rowspan="4" class="bg-body-secondary">사<br/>망<br/>자</th>
            <th colspan="2" class="bg-body-secondary">성명</th>
            <td class="text-primary">남기석</td>
            <th class="bg-body-secondary">주민등록번호</th>
            <td class="text-primary">540514-*******</td>
        </tr>
        <tr>
            <th colspan="2" class="bg-body-secondary border-start border-dark-subtle">사망일시</th>
            <td colspan="3" class="border-start border-dark-subtle">
                <span class="text-primary">2012</span>년
                <span class="text-primary">03</span>월
                <span class="text-primary">15</span>일
                <span class="text-primary">14</span>시
                <span class="text-primary">59</span>분 (사망지 시각:24시각제로 기재)
            </td>
        </tr>
        <tr>
            <th rowspan="2" class="bg-body-secondary border-start border-dark-subtle">사망<br/>장소</th>
            <th class="bg-body-secondary border-start border-dark-subtle">구분</th>
            <td colspan="3" class="border-start border-dark-subtle">
                <span class="position-relative">
                    <span class="position-absolute text-primary fs-4" style="top: -14px">V</span>
                    ①자택
                </span>
                <span class="position-relative">
                    ②병원
                </span>
                <span class="position-relative">
                    ③기타
                </span>
            </td>
        </tr>
        <tr>
            <th class="bg-body-secondary border-start border-dark-subtle p-0">주소</th>
            <td colspan="3" class="text-primary border-start border-dark-subtle">경기도 성남시 분당구 대왕판교로645번길</td>
        </tr>

        <tr>
            <th rowspan="3" class="bg-body-secondary">신<br/>고<br/>인</th>
            <th colspan="2" class="bg-body-secondary">성명</th>
            <td class="text-primary">남기준</td>
            <th class="bg-body-secondary">주민등록번호</th>
            <td class="text-primary">540514-*******</td>
        </tr>
        <tr>
            <th colspan="2" class="bg-body-secondary border-start border-dark-subtle">자격</th>
            <td colspan="3" class="border-start border-dark-subtle">부 / 모 / 호주 / 동거친족 / 기타</td>
        </tr>
        <tr>
            <th colspan="2" class="bg-body-secondary border-start border-dark-subtle">이메일</th>
            <td class="text-primary">nam@nhnad.co.kr</td>
            <th class="bg-body-secondary">전화번호</th>
            <td class="text-primary">010-1234-5678</td>
        </tr>
    </table>
</div>
</body>

</html>