<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>주민등록등본</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        th:first-child,
        th:last-child,
        td:first-child,
        td:last-child {
            border-right-width: 0;
            border-left-width: 0;
        }
    </style>
</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<div class="container">
    <h1 class="my-3 display-6">주민등록등본</h1>
    <table class="table table-bordered border-dark-subtle align-middle">
        <thead class="text-center">
        <tr>
            <th colspan="6" class="bg-dark-subtle">
                주민등록등본
                <br/>
                (발급일 : <span class="text-primary">2021-10-25</span>, 증명서확인번호 : <span class="text-primary">98765432-10987654</span>)
            </th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr>
            <th colspan="2" class="bg-body-secondary">세대주 성명</th>
            <td class="text-primary">남기준</td>
            <th class="bg-body-secondary">
                세대구성
                <br/>
                사유 및 일자
            </th>
            <td colspan="2" class="text-primary">
                세대분리
                <br/>
                2009-10-02
            </td>
        </tr>
        <tr>
            <th colspan="4" class="bg-body-secondary">주소</th>
            <th colspan="2" class="bg-body-secondary">신고일</th>
        </tr>
        <tr>
            <td class="text-primary">현주소</td>
            <td colspan="3" class="text-primary">경기도 성남시 분당구 대왕판교로 645번길</td>
            <td colspan="2" class="text-primary">2013-03-05</td>
        </tr>
        <tr>
            <td class="text-primary">前주소</td>
            <td colspan="3" class="text-primary">경기도 성남시 분당구 불정로 90번길</td>
            <td colspan="2" class="text-primary">2009-10-31</td>
        </tr>
        <tr>
            <th class="bg-body-secondary">세대주 관계</th>
            <th class="bg-body-secondary">성명</th>
            <th colspan="2" class="bg-body-secondary">주민등록번호</th>
            <th class="bg-body-secondary">신고일</th>
            <th class="bg-body-secondary">변동사유</th>
        </tr>
        <tr>
            <td class="text-primary">본인</td>
            <td class="text-primary">남기준</td>
            <td colspan="2" class="text-primary">790510-*******</td>
            <td class="text-primary">2009-10-02</td>
            <td class="text-primary">세대분리</td>
        </tr>
    </table>
</div>
</body>

</html>